<h3>O projekte</h3>

Tento projekt vznikol vďaka predmetu Recommender Systems.
Úlohou projektu je odporúčať vtipy a to tak, aby sa užívateľovi viac a viac páčili.
Nebojte sa hodnotiť veľmi nízkym alebo veľmi vysokým počtom hviezd.
Po ohodnotení vtipu sa Vám objaví vtip nový, dúfajme že aj lepší :).
Pred tím ako Vám odporúčime vtip sa prosím prihláste cez Facebook.

<h3>Autori</h3>
Marek Šabo,
Silvia Vigašová,
Pavel Kajaba,
Martin Mlynárik.




