<li><%= link_to "Prihlásiť sa cez Facebook", "/auth/facebook", id: "sign_in", :class => "btn btn-info" %></li>

<h3>Prihlás sa ako anonymný užívateľ pod menom:</h3>

<%= render 'form', user: @user %>
