<div class="container">
  <!%= button_to "Prihlásiť sa cez Facebook", "/auth/facebook", id: "sign_in", :class => "btn btn-primary" %>

  <h4>Prihlás sa ako anonymný užívateľ pod menom:</h4>
  <%= render 'form', user: @user %>
</div>