<h2>Moje Kategórie</h2>

<table>
  <thead>
  <tr>
    <th></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td>
          <div class='progress'>
            <div class="progress-bar" role="progressbar" style="width: <%= @category_hash[category.id].length * 100 / 20 %>%">
                progress
            </div>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>