<p>
  <strong>Content:</strong>
  <%= @joke.content %>
</p>

<p>
  <strong>Category:</strong>
  <%= @joke.category.name %>
</p>

<%= link_to 'Edit', edit_joke_path(@joke), :class => "btn btn-default" %>
<%= link_to 'Back', jokes_path, :class => "btn btn-default" %>
